/*CSS Specifict Rules*/

body > form > p {
	color: violet;
}

* {
	font-family: "Courier New", sans-serif;
	font-size: 10px;
}
/*type selector*/
h1 {
	font-size: 1rem; 
}
/*id selector*/
#love {
	text-transform: uppercase;
}

/*class selector*/
.Languages-to-be-learned {
	background-color: limegreen;
}
/*class selector*/
.tools-to-be-used {
	border: solid;
}

/*CSS Combinator Selector*/

/*adjacent sibling*/
img + ul {
	list-style-type: none;
}
/*descendant selector*/
section img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}
/*generic sibling*/
h4 ~ p {
	text-align: center;
	color: blue;
}
/*child selector*/
section > ul > li{
	letter-spacing: 10px;
}

